@charset "UTF-8";

html {
  font-size: 16px;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
  line-height: 1.8;
  letter-spacing: 1px;
  word-break: break-all;
  color: #333;
}

a {
  text-decoration: none;
  color: #333;
}

li {
  list-style: none;
}

.header-wrapper {
  display: flex;
  background-color: #F4F7F8;
  text-align: center;
}

.header-wrapper__logo {
  width: 15rem;
}

.header-wrapper__logo img {
  display: block;
  width: 100%;
  height: 100%;
}

.header-wrapper__nav {
  width: 78vw;
  height: 5rem;
}

.header-wrapper__nav__list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 100%;
}

.header-wrapper__nav__list li:first-of-type {
  border-left: solid 2px #333;
}

.header-wrapper__nav__list__item {
  text-align: center;
  padding: 0 2.5%;
  border-right: solid 2px #333;
  font-weight: normal;
  font-size: 1.1rem;
}

.header-wrapper__nav__list__item a:hover {
  color:rgb(0, 111, 185, 0.8);
  transition: 0.5s;
}

header .drawer {
  visibility: hidden;
}

.color {
  color: #006FB9;
}

.section {
  position: relative;
  margin: 7.5%;
}

.inner {
  width: 80%;
  margin: 0 auto;
}

.ttl {
  font-size: 2rem;
}

.ttl small {
  border-left: solid 4px #006FB9;
  padding-right: 1.2rem;
}

.ttl p {
  font-size: 1rem;
  padding-left: 1.2rem;
}

.btn {
  background-color: rgb(0, 111, 185);
  width: 10rem;
  height: auto;
  margin: 0 auto;
  text-align: center;
  line-height: 4;
  cursor: pointer;
}

.btn:hover {
  color: #333;
  background: rgb(0, 111, 185, 0.6);
  transition: 0.75s;
}

.btn a {
  color: #fff;
  font-size: 1.2rem;
}

.footer-wrapper {
  background-color: #F4F7F8;
  display: inline-block;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

.footer-wrapper__nav__list {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.footer-wrapper__nav__list li:first-of-type {
  border-left: solid 2px #333;
}

.footer-wrapper__nav__list__item {
  text-align: center;
  padding: 0 2.5%;
  border-right: solid 2px #333;
  font-weight: normal;
  font-size: 1.1rem;
}

.footer-wrapper__nav__list__item a:hover {
  color: rgb(0, 111, 185, 0.8);
  transition: 0.5s;
}

.footer-wrapper__img {
  width: 20%;
  margin: 0 auto;
  padding: 2rem;
}

.footer-wrapper__img img {
  width: 100%;
}

.footer-wrapper__sns__icon img {
  width: 2.5rem;
  margin: 1.5rem 0;
}

.footer-wrapper small {
  font-size: 0.8rem;
}

@media screen and (min-width: 1024px) {
  .__pc {
    display: inline-block;
  }

  .__tab {
    display: none;
  }

  .__sp {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  .__pc {
    display: inline-block;
  }

  .__tab {
    display: none;
  }

  .__sp {
    display: none;
  }

  .inner {
    width: 90%;
    margin: 0 auto;
  }

  .header-wrapper__logo {
    width: 20%;
  }
  
  .header-wrapper__nav {
    width: 77vw;
    height: 7vh;
  }
}

@media screen and (max-width: 768px) {
  .__pc {
    display: none;
  }

  .__tab {
    display: inline-block;
  }

  .__sp {
    display: none;
  }

  header .drawer {
    visibility: visible;
    width: 24px;
    position: absolute;
    top: 20px;
    right: 20px;
    border-top: solid 4px #333;
    cursor: pointer;
    z-index: 100;
  }

  header .drawer::before,
  header .drawer::after {
    position: absolute;
    content: "";
    display: block;
    width: 24px;
    background: #333;
    height: 4px;
    top: 0;
    right: 0;
    transition: all 0.5s;
  }

  header .drawer::before {
    top: 6px;
  }

  header .drawer::after {
    top: 15px;
  }

  body.nav-open header .drawer {
    border-top: 0;
  }

  body.nav-open header .drawer::before {
    top: 9px;
    transform: rotate(-45deg);
  }

  body.nav-open header .drawer::after {
    top: 9px;
    transform: rotate(45deg);
  }

  .header-wrapper__logo {
  width: 30%;
  height: 4rem;
  }

  header .header-wrapper__nav {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 50;
    background: #D9D9D9;
  }

  header .header-wrapper__nav__list {
    display: block;
    width: 50%;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
  }

  header .header-wrapper__nav__list__item {
    margin: 5% auto;
    border-right: none;
    font-size: 1.5rem;
    line-height: 3;
    border-bottom: solid 2px #fff;
  }

  header .header-wrapper__nav__list__item:first-of-type {
    border-top: solid 2px #fff;
  } 

  header .header-wrapper__nav__list__item a {
    color: #006FB9;
  }

  header .header-wrapper__nav__list li:first-of-type {
    border-left: none;
  }

  .ttl small {
    border-left: solid 4px #0CA2E6;
    padding-right: 1.2rem;
  }

  .footer-wrapper__nav__list__item {
    text-align: center;
    padding: 0 2.5%;
    border-right: solid 2px #333;
    font-weight: normal;
    font-size: 1rem;
  }

}

@media screen and (max-width: 480px) {
  .__pc {
    display: none;
  }

  .__tab {
    display: none;
  }

  .__sp {
    display: inline-block;
  }

  .inner {
    width: 90%;
    margin: 0 auto;
  }

  header .drawer {
    visibility: visible;
    width: 24px;
    position: absolute;
    top: 2.5%;
    right: 20px;
    border-top: solid 4px #333;
    cursor: pointer;
    z-index: 100;
  }

  .header-wrapper__logo {
    width: 30%;
    height: 8vh;
  }

  .ttl {
    font-size: 2rem;
    margin-top: 2rem;
  }

  .ttl small {
    border-left: solid 4px #006FB9;
    padding-right: 1.2rem;
  }

  .ttl p {
    font-size: 1rem;
    padding-left: 1.2rem;
  }

  .footer-wrapper {
    background-color: #F4F7F8;
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    width: 100%;
  }

  .footer-wrapper__nav__list {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .footer-wrapper__nav__list li:first-of-type {
    border-left: none; 
  }

  .footer-wrapper__nav__list__item {
    text-align: center;
    padding: 0 2.5%;
    border-right: solid 2px #333;
    font-weight: normal;
    font-size: 0.6rem;
  }

  .footer-wrapper__nav__list__item:last-of-type {
    border-right: none;
  }

  .footer-wrapper__img {
    width: 50%;
    margin: 0 auto;
    padding: 1rem;
  }

  .footer-wrapper__img img {
    width: 100%;
  }

  .footer-wrapper__sns__icon img {
    width: 2rem;
    margin: 1.5rem 0;
  }

  .footer-wrapper small {
    font-size: 0.8rem;
  }

}

@media screen and (max-width: 320px) {
  .__pc {
    display: none;
  }

  .__tab {
    display: none;
  }

  .__sp {
    display: inline-block;
  }
  
  .header-wrapper__logo {
    width: 8rem;
    height: 4rem;
  }

  header .drawer {
    visibility: visible;
    width: 24px;
    position: absolute;
    top: 22px;
    right: 20px;
    border-top: solid 4px #333;
    cursor: pointer;
    z-index: 100;
  }

  .footer-wrapper__nav__list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
  }


  .footer-wrapper__nav__list__item {
    text-align: center;
    padding: 1.5% 2.5%;
    border-right: none;
    font-weight: normal;
    font-size: 0.8rem;
  }
}

/* loadAnimation */
.fadeUp {
  animation: fadeUpAnime 0.8s forwards;
  opacity: 0;
}

.fadeLeft {
  animation: fadeLeftAnime 0.8s forwards;
  opacity: 0;
  overflow: hidden;
}

.fadeRight {
  animation: fadeRightAnime 0.8s forwards;
  opacity: 0;
  overflow: hidden;
}

.fadeUpTrigger,
.fadeLeftTrigger,
.fadeRightTrigger {
  opacity: 0;
}

@keyframes fadeUpAnime {
  from {
    opacity: 0;
    transform: translateY(100px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeLeftAnime {
  from {
    opacity: 0;
    transform: translateX(100px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeRightAnime {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}